*{
	padding:0px;
	margin:0px;
}
#site-container{
	width:960px;
	height:auto;
	margin:20px auto;
	background: transparent;
	padding-top:5px;
	padding-bottom:5px;
}

#header{
	width:900px;
	height:130px;
	background:transparent;
	margin:0px auto;
	padding-top:150px;
	padding-left:50px;
	border:1px solid #000;
}
#header a{
	font:28pt'Matura MT Script Capitals';
	text-decoration:none;
	color:#FF0F00;
}
#header p{
	font:20pt'Brush Script Std';
	color:#FF0F00;
}
#menu-content{
	width:950px;
	height:auto;
	margin:5 auto;
	background-color: #FF0F00
}
#menu{
	float:left;
	width:300px;
	height:auto;
	background-color:#FF0F00
}
#content{
	width:610px;
	height:auto;
	/*border:1px solid #000;*/
	float:right;
	background:transparent;
	padding:15px; 
	}

#content p{
	margin-top:20px;
	}

#footer{
	width:950px;
	height:40px;
	margin-top:550px;
	margin-bottom:0px;
	margin-right:auto;
	margin-left:auto;
	background:transparent;
	text-align:center;
	padding-top:30px;
	font-weight:bold;
	color:#FF0F00;
}
.floating{
	clear:both;
	height:0px;
	line-height:0px;
}
.judul_1{
	display:block;
	height:40px;
	background:#000000;
	font:20pt "Algerian";
	color:#FF0F00;
	text-align:center;
	border:1px solid red;
}

.judul_2{
	display:block;
	border-bottom:2px solid #000;
	font:26pt "Script MT Bold";
	color:red;
	padding-bottom:10px;
	}


.img{
	width:250px;
	height:200px;
	border:5px solid #fff;
	margin-top:20px;
	margin-right:20px;
	float:left;
	}


#menu ul{
	list-style:none;
}
#menu li a{
	display:block;
	height:30px;
	background:#000000;
	font:16pt "Algerian";
	color:#ff0000;
	text-decoration:none;
	border-bottom:1px solid red;
	border-left:1px solid red;
	border-right:1px solid red;
	padding-left:20px;
}
#menu li a:hover{
	background:#FF0F00;
	color:#FF0F00;
}
body{
	background:url(../images/hallow.jpg);
	font:10pt verdana;
	color: red;
}